body{
  margin-left: 0%;
  margin-right: 0%;
}
.header{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500px;
    color: #7562E0;
    font-size:24px
    line-height: 28px;
    text-transform: uppercase;
  }
  .header{
    position: absolute;
    left: 200px;
  }
  .link1,.link2,.link3{
    font-family: Rubik;
    font-style: normal;
    font-size:16px;
    text-decoration: none;
  }
  .links,.header{
    display:inline-block;
    margin:20px; 
  }
  .links{
    font-color: #00000;
    word-spacing: 30px;
    position: absolute;
    right: 150px;
  }
  .name{
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height:95px;
    color: #120644;
  }
  .name{
    position:absolute;
    width: 213px;
    height: 190px;
    left: 211px;
    top: 311px
  }
  .subtitle{
    position: absolute;
    width: 237px;
    height: 42px;
    left: 211px;
    top: 530px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
  }
  .circle{
    background-color: #7562E0;
    position:absolute;
    height: 380px;
    width: 450px;
    left: 800px;
    top: 350px;
    border-radius:50%;
    border-top-left-radius:100%;
    border-top-right-radius:0%;
    border-bottom-right-radius:0%;
    border-bottom-left-radius:0%;
  }
  img {
    width: 200px;
    position: absolute;
    width: 250px;
    left: 768px;
    top: 318px;
  }
  .button {
    background-color: #7562E0;
    color: #FFFFFF;
    padding: 16px 48px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
  .button{
    position: absolute;
    width: 120px;
    height: 10px;
    left: 211px;
    top: 600px;
  }
  /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  position: relative;
  width: 7px;
  left: 1020px;
  top: 400px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  color: white;
}

/* Twitter */
.fa-twitter {
  color: white;
}
/* Linkedin */
.fa-linkedin{
  color: white;
}